@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    scrollbar-color: red;
}

::-webkit-scrollbar {
    display: none;
}


html,body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
#loader{
    width: 100%;
    height: 100%;
    background-color: black;
    position:absolute;
    z-index: 11;
    display: none;
}

#loader h1{
    width: 100%;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;align-items: center;
    text-align: center;
    margin-top: 60%;
    font-size: 4.5vw;
}
#loader h3{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;align-items: center;
    text-align: center;
    margin-top: 65%;
    font-size: 3.5vw;
}
#main{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: black;
    z-index: 9;
}

#main1{
    width: 100%;
    height: 100%;
}

#main2{
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
}
#navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 3vw;
}

.navbar-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9;
}
#navbar #logo{
    filter: invert(0.2);
}

#navbar-dots{
    width: 2.2vw;
    height: 5vh;
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.dots{
    content:'';
    width: 8px;
    height: 8px;
    background-color: #00DF8E;
    border-radius: 50%;
    position: relative;
    z-index: 9;
}

.dots:nth-child(2){
    background-color: red;
}
.dots:nth-child(5){
    background-color: red;
}
.dots:nth-child(6){
    background-color: red;
}
.dots:nth-child(8){
    background-color: red;
}

#page1{
    width: 100%;
    height: 100vmin;
    position: relative;
    overflow: hidden;
}

#page1-content{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 25vh;
    margin-left: 5%;
    z-index: 9;
}

#page1-img{
    margin-top: -15vh;
}

#page1-img img{
    position: absolute;
    right: -10%;
    width: 49%;
    /* top: 0 !important; */
    z-index: 8;
    scale: 1 !important;
    /* transition: 7s; */
    /* transform: translate(10%,50%); */
    animation:  img1 cubic-bezier(0.075, 0.82, 0.165, 1) 5.2s both;
}
@keyframes img1{
    0%{
        width: 20%;
    }
    100%{
        width: 49%;
        /* bottom: 1px; */
    }
}
.page1-header{
    overflow: hidden;
}

.page1-header h1{
    color: white;
    font-size: 12vw;
    line-height: 1.1;
    z-index: 9;
    letter-spacing: -12px;
    font-weight: 600;
    transform: translateY(0vh);
}

.page1-header span{
    color: #00DF8E;
}

#page2{
    width: 100%;
    height: 110vh;
    position: relative;
    overflow: hidden;
    margin-top: -10vh;
}

#page2-content{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 30vh;
    margin-left: 5%;
    z-index: 9;
}

.page2-header{
    overflow: hidden;
}
.page3-header{
    overflow: hidden;
}  
#page2-img img{
    position: absolute;
    right: -10%;
    width: 49%;
    z-index: 1;
    top: 7%;
    transition: all 1.3s;
}

.page2-header h1{
    color: #00DF8E;
    font-size: 12vw;
    line-height: 1.1;
    z-index: 9;
    letter-spacing: -12px;
    font-weight: 600;
}

#page3{
    width: 100%;
    height: 110vh;
    position: relative;
    overflow: hidden;
}

#page3-content{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 24vh;
    margin-left: 4%;
    z-index: 9;
}

#page3-img img{
    position: absolute;
    right: -10%;
    width: 49%;
    z-index: 1;
    top: 7%;
    transition: all 1;
}

.page3-header h1{
    color: #00DF8E;
    font-size: 11.5vw;
    line-height: 1.3;
    z-index: 9;
    letter-spacing: -10px;
    font-weight: 600;
}

.page3-header h3{
    color: white;
    font-size: 2.5vw;
    font-weight: 500;
    margin-top: 7vh;
}

.page3-header h3 span{
    font-weight: 200;
}

#page4{
    width: 100%;
    height: 110vh;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.page4-content{
    width: 100%;
    height: 20vh;
    margin: 15vh 0vw;
    position: relative;
}

.page4-content h3{
    font-size: 4.7vw;
    line-height: 1;
    color: #00DF8E;
    font-weight: 600;
    margin-left: 45vw;
}

.page4-blocks{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0vh 1vw;
}

.block {
    width: 32%;
    height: 50vh;
    border-radius: 10px;
    border: 2px solid #00DF8E;
    position: relative;
    background-color: black;
    transition: all 1.5s ease-in-out;
  }
  .block h1 {
    padding: 2vh 2vw;
    position: relative;
    font-weight: 600;
    font-size: 2.1vw;
  }
  .block p{
    padding: 0vh 02vw;
    position: relative;
    font-size: 1.1vw;
  }
  .block::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color:#00DF8E;
    transition: all 1.5s ease-in-out;
  }
  .block:hover::before {
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    right: 20px;
    bottom: 20px;
  }
  .block:hover {
    color: #00DF8E;
  }
  button {
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    width: 25vh;
    right: 20px;
    bottom: 20px;
    font-size: 1vw;
  }


  #page5{
    width: 100%;
    height: 130vh;
    background-color:#00DF8E;
    position: absolute;
    top: 320%;
    z-index: 2;

  }

  #page5 h1{
    font-size: 12vw;
    position: absolute;
    color: #310463;
    font-weight: 600;
    letter-spacing: -10px;
    text-align: center;
    position: relative;
    margin-top: 20.4%;
  }
  #page6{
    position: absolute;
    border-radius: 50%;
    margin-left: 0.5%;
    margin-top: -40vh;
    border-radius: 50%;
    z-index: 2;
    height: 100vh;
  }

  .page6-img{
    height: 100vh;
    width: 99%;
  }

  .page6-img img{
    width: 100%;
  }

  .page6-para{
    top: 0;
    position: absolute;
    width: 34%;
    margin-left: 47%;
    text-align: left;
    font-size: 2.4vw;
    font-weight: 500;
    color: #00DF8E;
    line-height: 1;
    margin-top: 35vh;
    letter-spacing: -2px;
  }

  .page6-btn{
    position: absolute;
    top: 60%;
    left: 45%;
    color: white;
    transition: all 1s ease-in-out;
    z-index: 3;
  }
  .page6-btn h4{
    font-weight: 600;
  }

  .page6-btn p{
    content: '';
    width: 10vh;
    height: 1vh;
    background-color: white;
    margin-left: 5vh;
  }

 .page6-btn h4:hover{
    color: red;
    transition: 1s ease;
  }

  .page6-btn:hover p {
    margin-left: 10vh;
    height: 2vh;
    width: 2vh;
    background-color: red;
    transition: all 1s ease-in-out;
  }

  .page6-header{
    position: absolute;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    top: 65%;
  }

  .page6-header h1{
    text-align: center;
    font-size: 12vw;
    color: #00DF8E;
    letter-spacing: -10px;
    font-weight: 600;
  }

  .page6-img2{
    position: absolute;
    width: 32%;
    height: 65%;
    top: 100%;
    left: 35%;
  }

  .page6-img2 p{
    position: absolute;
    top: 5%;
    content: '';
    width: 65vh;
    height: 65vh;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 0.1;
    animation:  img4 6.2s ease-in-out infinite ;
  }

  .page6-img2 img{
    width: 73vh;
    z-index: 10;
  }

  .page6-img3{
    position: absolute;
    left: 43%;
    top: 110%;
  }

  .page6-img3 img{
    width: 43vh;
    animation:  img2 6.2s ease-in-out infinite ;
  }
  .page6-img4{
    position: absolute;
    left: 53%;
    top: 157%;
  }

  .page6-img4 img{
    width: 3vh;
    animation:  img3 6.2s ease-in-out infinite ;
  }

  .page6-img2 img{
    animation:  img1 6.2s ease-in-out infinite;
}
@keyframes img1{
    0%, 100% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-100px);
      }
}
@keyframes img4{
    0%, 100% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(120px);
      }
}
@keyframes img2{
    0%, 100% {
        width: 43vh;
        transform: translateX(0);
      }
      50% {
        width: 38vh;
        transform: translateX(-100px);
      }
}
@keyframes img3{
    0%, 100% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-70px);
      }
}

#page7{
    min-height: 40vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 700%;
}

#page7-para{
    height: 100%;
    line-height: 1;
    margin-left: 50%;
}

.page7-para{
    overflow: hidden;
}

.page7-para h2{
    font-size: 9.5vh;
    font-weight: 600;
    text-align-last: left;
}

#page7-divs{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
}

.page7-div1{
    width: 33%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.page7-div1 h3{
    z-index: 2;
    font-size:2.5vw;
    font-weight: 500;
}

.page7-div1 p{
    content: '';
    background-color: black;
    width: 90%;
    height: 110%;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    z-index: 1;
    animation:  img5 4.2s ease-in-out infinite;
}

@keyframes img5{
    0%{
        transform: translateX(0);
      }
     25%{
        transform: translatey(-70px);
     }
     75%{
        transform: translatex(50px);
     }
}
.page7-div2{
    width: 33%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.page7-div2 h3{
    font-size: 2vw;
    color: #00DF8E;
    font-weight: 600;
}

.page7-div2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation:  img6 4.2s ease-in-out infinite;
}
@keyframes img6{
    0%{
        transform: translateX(0);
      }
      55%{
        
        transform: rotateZ(5deg);
      }
      75%{
        transform: translatey(15px);
      }
}
.page7-div3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31%;
    height: 100%;
    position: relative;
}

.page7-div3 img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#img3{
    top: 30%;
    right: 15%;
    height: 30%;
    width: 20%;
    animation:  img7 4.2s ease-in-out infinite;
}

.page7-div3 h3{
    z-index: 2;
    color: white;
    font-size: 2.5vw;
}

@keyframes img7{
    0%{
        transform: translateX(0);
      }
      75%{
        transform: translatex(35px) rotate(10deg);
      }
}

#page8{
    width: 100%;
    height: 100vh;
    background-color: red;
    position: absolute;
    top: 810%;
}

.page8-para{
    position: absolute;
    top: 0;
    line-height: 1;
    margin-top: 20vh;
}

.page8-para h1{
    color: white;
    font-size: 12vw;
    font-weight: 600;
    letter-spacing: -10px;
}

.page8-mini{
    margin-top: 15vh;
    line-height: 1.2;
    width: 50%;
    margin-left: 60%;
}

.page8-mini p{
    color: white;
    font-size: 2.2vw;
    font-weight: 600;
}

.page8-divs{
    position: absolute;
    width: 100%;
    height: 67vh;
    top: 120%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.page8-div{
    width: 100%;
    height: 100%;
    color: white;
    border-left:2px solid #00DF8E ;
    overflow: hidden;
}

.page8-div h3{
    font-size: 5vw;
    font-weight: 600;
    color: #00DF8E;
}

.page8-div h2{
    color: #00DF8E;
    font-size: 2vw;
    font-weight: 700;
}

.page8-div-para{
    margin-top: 5vh;
    line-height: 1;
    margin-left: 1.6vw;
    overflow: hidden;
}

.page8-div-para p{
    font-size: 1.3vw;
    font-weight: 500;
    text-align: left;
}

.page8-para-header{
    overflow: hidden;
    height: 30vh;
}

#page9{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 997%;
}

.page9-para1{
    line-height: 1;
    width: 50%;
    margin-left: 50%;
    margin-top: 23vh;
}

.page9-para1 h1{
    font-size: 2.4vw;
    font-weight: 600;
    letter-spacing: -1.5px;
}

.page9-para2{
    width: 30%;
    margin-left: 67%;
    margin-top: 5vh;
    font-size: 2.5vh;
    line-height: 1.3;
}

.page9-header h1{
    font-size: 4.5vw;
    letter-spacing: -2px;
    margin-left: 8%;
    margin-top: 10vh;
    opacity: 0.2;
}

.page9-header{
    overflow: hidden;
}

.swiper {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-wrapper{
    margin-top: 0vh;
    display: flex;
  }


  .swiper-slide img{
    width: 80%;
  }

  .page9-para3{
    line-height: 1;
    margin-left: 10%;
    margin-top: 24vh;
  }

  .page9-para3 p{
    font-size: 2vw;
    font-weight: 600;
    margin-left: 50%;
    margin-top: 8vh;
  }

  .page9-para3 h1{
    font-size: 12vw;
    letter-spacing: -10px;
    font-weight: 600;
  }

  .page9-div-para3{
    overflow: hidden;
  }



#img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 40vh;
}

.page9-para4{
    top: 205%;
    width: 100%;
    height: 58vh;
    background-color: #00DF8E;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 9;
  }

  .page9-para4-divs{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 29vh;
    width: 105vh;
    /* background-color: red; */
    overflow: hidden;
  }

  .page9-para4-content{
    width: 100%;
    height: 100%;
    /* background-color: green; */
  }
  .page9-para4-content:nth-child(1){
    width: 100%;
    height: 100%;
    /* background-color: green; */
    margin-bottom: 20vh;
  }

  .page9-para4-content h1{
    font-size: 12vw;
    letter-spacing: -10px;
    font-weight: 600;
    text-align: center;
  }
  .page9-para4-content1 h1{
    font-size: 12vw;
    letter-spacing: -10px;
    font-weight: 600;
  }

  .page9-para4-content1{
    top: 0;
    left: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: green; */
  }

  .page9-para4-circle{
    width: 27vh;
    height: 27vh;
    background-color: white;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 2vh;
    margin-top: 10vh;
  }

  .page9-para4-circle p{
    color: red;
    font-size: 1vw;
    font-weight: 700;
    width: 60%;
  }

  .page9-normal{
    position: fixed;
    /* background-color: red; */
    left: 30%;
    color: white;
  }

  .page9-normal h2{
    font-size: 2.5vw;
  }

  #page10{
    height: 120vh;
    width: 100%;
    position: absolute;
    top: 1390%;
    z-index: 1;
    /* background-color: red; */
}

.page10-para1{
    width: 100%;
    height: 20vh;
    margin-top: 25vh;
    position: relative;
}

.page10-para1 h2{
    font-size: 2.5vw;
    font-weight: 500;
    letter-spacing: -2px;
    color: red;
}

.page10-para1-content{
    width: 60vw;
    margin-left: 21%;
    position: absolute;
    /* background-color: red; */
}

.page10-line{
    width: 100%;
    height: 15vh;
    background-color: red;
    position: absolute;
    z-index: 10;
}

.page10-para2{
    width: 100%;
    height: 30vh;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
}

.page10-para2-content{
    font-size: 12vw;
    font-weight: 600;
    letter-spacing: -10px;
    color: red;
}

.page10-circle{
    display: flex;
    justify-content: center;align-items: center;
    text-align: center;
    width: 27vh;
    height: 27vh;
    background-color: red;
    border-radius: 50%;
    margin-right: 20vh;
    margin-top: 5vh;
}

.page10-circle p{
    color: white;
}

.page10-para3{
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    margin-top: 10vh;
    border-top: 1px solid red;
    position: relative;
    border-bottom: 3px solid red;
}

.page10-para3 img{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.page10-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 5vh ;
}

.page10-right i{
    font-size: 2vw;
    margin-left: 3vw;
}

@media (max-width:600px)  {

    body{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #navbar{
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0vh 3vw;
    }
    
    .navbar-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 9;
    }
    #navbar #logo{
        filter: invert(0.2);
    }
    
    #navbar-dots{
        width: 9.2vw;
        height: 5vh;
        display: flex;
        gap: 3px;
        flex-wrap: wrap;
    }
    
    .dots{
        content:'';
        width: 8px;
        height: 8px;
        background-color: #00DF8E;
        border-radius: 50%;
        position: relative;
        z-index: 9;

    }
    
    .dots:nth-child(2){
        background-color: red;
    }
    .dots:nth-child(5){
        background-color: red;
    }
    .dots:nth-child(6){
        background-color: red;
    }
    .dots:nth-child(8){
        background-color: red;
    }
    
    #page1{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    
    #page1-content{
        width: 100%;
        height: 100%;
        position: relative;
        margin-top: 25vh;
        margin-left: 5%;
        z-index: 9;
    }
    
    #page1-img{
        margin-top: 15vh;
    }
    
    #page1-img img{
        position: absolute;
        right: 1%;
        /* top: 0 !important; */
        z-index: 8;
        scale: 2 !important;
        /* transition: 7s; */
        /* transform: translate(10%,50%); */
        animation:  img1 cubic-bezier(0.075, 0.82, 0.165, 1) 5.2s both;
    }
    @keyframes img1{
        0%{
            width: 20%;
        }
        100%{
            width: 99%;
            /* bottom: 1px; */
        }
    }
    .page1-header{
        overflow: hidden;
    }
    
    .page1-header h1{
        color: white;
        font-size: 20vw;
        line-height: 1.1;
        z-index: 9;
        letter-spacing: -1px;
        font-weight: 600;
        transform: translateY(0vh);
    }
    
    .page1-header span{
        color: #00DF8E;
    }
    
    #page2{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        margin-top: 10vh;
    }
    
    #page2-content{
        width: 100%;
        height: 100%;
        position: relative;
        margin-top: 15vh;
        margin-left: 5%;
        z-index: 9;
    }
    
    .page2-header{
        overflow: hidden;
    }
    .page3-header{
        overflow: hidden;
    }  
    #page2-img img{
        position: absolute;
        right: -1%;
        width: 99%;
        z-index: 1;
        top: 7%;
        transition: all 1.3s;
    }
    
    .page2-header h1{
        color: #00DF8E;
        font-size: 18vw;
        line-height: 1.1;
        z-index: 9;
        letter-spacing: -1px;
        font-weight: 600;
    }
    
    #page3{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    
    #page3-content{
        width: 100%;
        height: 100%;
        position: relative;
        margin-top: 20vh;
        margin-left: 4%;
        z-index: 9;
    }
    
    #page3-img img{
        position: absolute;
        right: -1%;
        width: 99%;
        z-index: 1;
        top: 7%;
        transition: all 1;
    }
    
    .page3-header h1{
        color: #00DF8E;
        font-size: 18vw;
        line-height: 1;
        z-index: 9;
        letter-spacing: -1px;
        font-weight: 600;
    }
    
    .page3-header h3{
        color: white;
        font-size: 7.5vw;
        font-weight: 500;
        margin-top: 20vh;
    }
    
    .page3-header h3 span{
        font-weight: 200;
    }

    #page4{
        width: 100%;
        min-height: 220vh;
        position: relative;
        overflow: hidden;
        z-index: 9;
    }
    
    .page4-content{
        width: 100%;
        height: 20vh;
        margin: 5vh 0vw;
        position: relative;
    }
    
    .page4-content h3{
        font-size: 10vw;
        line-height: 1;
        color: #00DF8E;
        font-weight: 600;
        margin-left: 5vw;
    }
    
    .page4-blocks{
        min-height: 180vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1vw 1vh;
    }
    
    .block {
        width: 100%;
        height: 150vh;
        border-radius: 10px;
        border: 2px solid #00DF8E;
        position: relative;
        background-color: black;
        transition: all 1.5s ease-in-out;
        margin-bottom: 5vh;
      }
      .block h1 {
        padding: 2vh 3vw;
        position: relative;
        font-weight: 600;
        font-size: 10.1vw;
      }
      .block p{
        padding: 0vh 03vw;
        position: relative;
        font-size: 4.1vw;
      }
      .block::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color:#00DF8E;
        transition: all 1.5s ease-in-out;
      }
      .block:hover::before {
        border-radius: 50%;
        height: 25vh;
        width: 25vh;
        right: 20px;
        bottom: 20px;
      }
      .block:hover {
        color: #00DF8E;
      }
      button {
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: transparent;
        position: absolute;
        width: 25vh;
        right: 20px;
        bottom: 20px;
        font-size: 5vw;
        font-weight: 700;
      }
    
    
      #page5{
        width: 100%;
        height: 50vh;
        background-color:#00DF8E;
        position: relative;
        z-index: 2;
      }
    
      #page5>h1{
        font-size: 18vw;
        color: #310463;
        position: absolute;
        top: 20%;
        left: 20%;
        font-weight: 600;
        letter-spacing: -1px;
        text-align: center;
        margin-top: 0vh;
      }
      #page6{
        position: absolute;
        border-radius: 50%;
        margin-left: 0.5%;
        margin-top: -20vh;
        border-radius: 50%;
        z-index: 2;
        height: 100vh;
      }
    
      .page6-img{
        height: 100vh;
        width: 99%;
      }
    
      .page6-img img{
        width: 100%;
      }
    
      .page6-para{
        top: 0;
        position: absolute;
        width: 34%;
        margin-left: 47%;
        text-align: left;
        font-size: 3.4vw;
        font-weight: 500;
        color: #08faa1;
        line-height: 1;
        margin-top: 30vh;
        letter-spacing: -1px;
      }
    
      .page6-btn{
        position: absolute;
        top: 20%;
        left: 35%;
        color: white;
        transition: all 1s ease-in-out;
        z-index: 3;
        font-size: 3vw;
      }
      .page6-btn h4{
        font-weight: 600;
      }
    
      .page6-btn p{
        content: '';
        width: 10vh;
        height: 1vh;
        background-color: white;
        margin-left: 4vh;
      }
    
     .page6-btn h4:hover{
        color: red;
        transition: 1s ease;
      }
    
      .page6-btn:hover p {
        margin-left: 10vh;
        height: 2vh;
        width: 2vh;
        background-color: red;
        transition: all 1s ease-in-out;
      }
    
      .page6-header{
        position: absolute;
        width: 100%;
        height: 30vh;
        overflow: hidden;
        top: 10%;
      }
    
      .page6-header h1{
        text-align: center;
        font-size: 10vw;
        color: #00DF8E;
        letter-spacing: -1px;
        font-weight: 600;
      }
    
      .page6-img2{
        position: absolute;
        width: 32%;
        height: 65%;
        top: 40%;
        left: 25%;
      }
    
      .page6-img2 p{
        position: absolute;
        top: 0%;
        content: '';
        width: 25vh;
        height: 25vh;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 50%;
        z-index: 0.1;
        animation:  img4 6.2s ease-in-out infinite ;
      }
    
      .page6-img2 img{
        width: 25vh;
        z-index: 10;
      }
    
      .page6-img3{
        position: absolute;
        left: 35%;
        top: 43%;
      }
    
      .page6-img3 img{
        width: 1vh;
        animation:  img2 6.2s ease-in-out infinite ;
      }
      .page6-img4{
        position: absolute;
        left: 47%;
        top: 57%;
      }
    
      .page6-img4 img{
        width: 2vh;
        animation:  img3 6.2s ease-in-out infinite ;
      }
    
      .page6-img2 img{
        animation:  img1 6.2s ease-in-out infinite;
    }
    @keyframes img1{
        0%, 100% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(-30px);
          }
    }
    @keyframes img4{
        0%, 100% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(40px);
          }
    }
    @keyframes img2{
        0%, 100% {
            width: 15vh;
            transform: translateX(0);
          }
          50% {
            width: 12vh;
            transform: translateX(-30px);
          }
    }
    @keyframes img3{
        0%, 100% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(-20px);
          }
    }
    #page7{
        min-height: 50vh;
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 620%;
    }
    
    #page7-para{
        height: 100%;
        line-height: 1;
        margin-left: 3%;
        margin-top: 30vh;
    }
    
    .page7-para{
        overflow: hidden;
    }
    
    .page7-para h2{
        font-size: 5.5vh;
        font-weight: 600;
        text-align-last: left;
    }
    
    #page7-divs{
        width: 100vw;
        height: 150vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2vw;
        margin-top: 5vh;
    }
    
    .page7-div1{
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;
        overflow: hidden;
        margin-bottom: 2vh;
    }
    
    .page7-div1 h3{
        z-index: 2;
        font-size:7.5vw;
        font-weight: 500;
        margin-left: 30%;
    }
    
    .page7-div1 p{
        content: '';
        background-color: black;
        width: 120%;
        height: 130%;
        border-radius: 50%;
        z-index: 1;
        position: absolute;
        z-index: 1;
        animation:  img5 4.2s ease-in-out infinite;
    }
    
    @keyframes img5{
        0%{
            transform: translateX(0);
          }
         25%{
            transform: translatey(-70px);
         }
         75%{
            transform: translatex(50px);
         }
    }
    .page7-div2{
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 2vh;
    }
    
    .page7-div2 h3{
        font-size: 5vw;
        color: #00DF8E;
        font-weight: 600;
    }
    
    .page7-div2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation:  img6 4.2s ease-in-out infinite;
    }
    @keyframes img6{
        0%{
            transform: translateX(0);
          }
          55%{
            
            transform: rotateZ(5deg);
          }
          75%{
            transform: translatey(15px);
          }
    }
    .page7-div3{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .page7-div3 img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    #img3{
        top: 30%;
        right: 15%;
        height: 30%;
        width: 20%;
        animation:  img7 4.2s ease-in-out infinite;
    }
    
    .page7-div3 h3{
        z-index: 2;
        color: white;
        font-size: 5.5vw;
    }
    
    @keyframes img7{
        0%{
            transform: translateX(0);
          }
          75%{
            transform: translatex(35px) rotate(10deg);
          }
    }
    
    #page8{
        width: 100%;
        height: 100vh;
        background-color: red;
        position: absolute;
        top: 840%;
    }

    
    .page8-para{
        position: absolute;
        top: 0;
        line-height: 1;
        margin-top: 5vh;
    }
    
    .page8-para h1{
        color: white;
        font-size: 10vw;
        font-weight: 600;
        letter-spacing: -1px;
        margin-left: 10%;
    }
    
    .page8-mini{
        margin-top: 5vh;
        line-height: 1.2;
        width: 100%;
        margin-left:10%;
    }
    
    .page8-mini p{
        color: white;
        font-size: 5vw;
        font-weight: 400;
    }
    
    .page8-divs{
        position: absolute;
        width: 80%;
        margin-left: 10%;
        height: 67rem;
        top: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }
    
    .page8-div{
        width: 100%;
        height: 100%;
        color: white;
        overflow: hidden;
        margin-top: 10vh;
    }
    
    .page8-div h3{
        font-size: 10vw;
        font-weight: 600;
        color: #00DF8E;
    }
    
    .page8-div h2{
        color: #00DF8E;
        font-size: 3vw;
        font-weight: 700;
    }

    #page8-div4{
        display: none;
    }
    
    .page8-div-para{
        margin-top: 1vh;
        line-height: 1;
        margin-left: 5vw;
        overflow: hidden;
    }
    
    .page8-div-para p{
        font-size: 3.3vw;
        font-weight: 500;
        text-align: left;
    }
    
    .page8-para-header{
        overflow: hidden;
        height: 8vh;
    }
    
    #page9{
        width: 100%;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 1017%;
    }
    
    .page9-para1{
        line-height: 1;
        width: 100%;
        margin-left: 1%;
        margin-top: 10vh;
    }
    
    .page9-para1 h1{
        font-size: 5.8vw;
        font-weight: 600;
        letter-spacing: -1px;
    }
    
    .page9-para2{
        width: 100%;
        margin-left: 1%;
        margin-top: 5vh;
        font-size: 2.5vh;
        line-height: 1.3;
    }
    
    .page9-header h1{
        font-size: 4.5vw;
        letter-spacing: -2px;
        margin-left: 8%;
        margin-top: 10vh;
        opacity: 0.2;
    }
    
    .page9-header{
        overflow: hidden;
    }
    
    .swiper {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    
      .swiper-wrapper{
        margin-top: 0vh;
        display: flex;
      }
    
    
      .swiper-slide img{
        width: 130%;
      }

      .swiper-pagination{
        display: none;
      }
    
      .page9-para3{
        line-height: 1;
        margin-left: 1%;
        margin-top: 10vh;
      }
    
      .page9-para3 p{
        font-size: 5vw;
        font-weight: 600;
        margin-left: 20%;
        margin-top: 8vh;
      }
    
      .page9-para3 h1{
        font-size: 20vw;
        letter-spacing: -2px;
        font-weight: 600;
      }
    
      .page9-div-para3{
        overflow: hidden;
      }
    
    
    #img2{
        width: 100%;
        height: 70%;
        object-fit: cover;
        margin-top: 60vh;

    }
    
    .page9-para4{
        top: 125%;
        width: 100%;
        height: 78vh;
        background-color: #00DF8E;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        z-index: 9;
      }
    
      .page9-para4-divs{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30vh;
        width: 105vh;
        /* background-color: red; */
        overflow: hidden;
      }
    
      .page9-para4-content{
        width: 100%;
        height: 100%;
        /* background-color: green; */
      }
      .page9-para4-content:nth-child(1){
        width: 100%;
        height: 100%;
        /* background-color: green; */
        margin-bottom: 20vh;
      }
    
      .page9-para4-content h1{
        font-size: 20vw;
        letter-spacing: -3px;
        font-weight: 600;
        text-align: center;
      }
      .page9-para4-content1 h1{
        font-size: 12vw;
        letter-spacing: -10px;
        font-weight: 600;
      }
    
      .page9-para4-content1{
        top: 0;
        left: 100%;
        position: absolute;
        width: 100%;
        height: 100%;
        /* background-color: green; */
      }
    
      .page9-para4-circle{
        width: 27vh;
        height: 27vh;
        background-color: white;
        border-radius: 50%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 30vw;
        margin-top: 40vh;
      }
    
      .page9-para4-circle p{
        color: red;
        font-size: 4vw;
        font-weight: 700;
        width: 60%;
      }
    
      .page9-normal{
        position: fixed;
        top: 33%;
        left: 10%;
        color: white;
      }
    
      .page9-normal h2{
        font-size: 5.5vw;
      }
    
      #page10{
        height: 120vh;
        width: 100%;
        position: absolute;
        top: 1265%;
        z-index: 1;
        /* background-color: red; */
    }
    
    .page10-para1{
        width: 10%;
        height: 20vh;
        margin-top: 25vh;
        position: relative;
    }
    
    .page10-para1 h2{
        font-size: 4vw;
        font-weight: 500;
        letter-spacing: 0px;
        color: red;
    }
    
    .page10-para1-content{
        width: 100vw;
        margin-left: 20%;
        position: absolute;
        /* background-color: red; */
    }
    
    .page10-line{
        width: 100%;
        height: 12vh;
        background-color: red;
        position: absolute;
        z-index: 10;
    }
    
    .page10-para2{
        width: 100%;
        height: 30vh;
        /* background-color: green; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .page10-para2-content{
        font-size: 12vw;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1;
        color: red;
    }
    
    .page10-circle{
        display: flex;
        justify-content: center;align-items: center;
        text-align: center;
        width: 20vh;
        height: 20vh;
        background-color: red;
        border-radius: 50%;
        margin-right: 0vh;
        margin-top: 5vh;
    }
    
    .page10-circle p{
        color: white;
    }
    
    .page10-para3{
        width: 100%;
        height: 30vh;
        /* background-color: red; */
        margin-top: 10vh;
        border-top: 1px solid red;
        position: relative;
        border-bottom: 3px solid red;
    }
    
    .page10-para3 img{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
    }
    
    .page10-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-top: 5vh ;
    }
    
    .page10-right i{
        font-size: 6vw;
        margin-left: 1vw;
    }
    
    #loader{
        width: 100%;
        height: 100%;
        background-color: black;
        position:absolute;
        z-index: 11;
        display: block;
    }
    
}